<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyThoughts - Thought Creation</title>
  <link rel="icon" href="/favicon-16x16.png">
  <script src="https://kit.fontawesome.com/23c2a211eb.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/output.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/createthought.css" type="text/css">
  <link rel="stylesheet" href="/css/taglist.css" type="text/css">

  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" /> -->
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
  <div class="navbar">
    <div class="flex-1">
    </div>
    <div class="flex-none">
      <a href="/myThoughts" class="btn btn-ghost normal-case text-xl">MyThoughts</a></li>
      <a href="/logout" class="btn btn-ghost normal-case text-xl">Log out</a></li>
    </div>
  </div>
  <div class="hero background min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="text-center lg:text-center">
            <h1 class="text-5xl font-bold page-heading">Thought Creation</h1>
          </div>
          <form enctype="multipart/form-data" action="/thought/addThought" method="POST">
            <div class="form-control">
              <label for="Topic" class="label">Topic</label>
              <input id="Topic" type="text" class="input topic-input input-bordered w-full max-w-xs" name="topic" placeholder="Topic" required>
            </div>
            <div class="form-control">
              <label for="bodyText" class="label">Thoughts</label>
              <textarea id="bodyText" class="textarea" name="bodyText" placeholder="Your thoughts" required></textarea>
            </div>
            <div class="form-control">
              <button id="addTagButton" class="add-tag-btn btn" type="button">
                <span>Add Tag</span>
              </button>
              <ul id="tagList" class="tag-list">

              </ul>
            </div>
            <div class="form-control">
              <% if (locals.messages.errors) { %>
                <% for(let i = 0; i < messages.errors.length; i++) { %>
                    <div class="alert alert-danger"><%= messages.errors[i].msg %></div>
                <% } %>    
              <% } %>
              <label class="label">
                <input type="file" class="file-input w-full max-w-xs" name="file"/>
              </label>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/createpost.js"></script>
</body>
</html>

<!-- <label class="custom-file-upload btn">
  <input type="file" id="imageUpload" name="file">
  Image Upload
</label>
<input type="file" id="imageUpload" name="file"> -->