<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyThoughts</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header>
        <h1>MyThoughts</h1>
        <a href="/mythoughts">Home</a>
        <a href="/logout">Logout</a>
    </header>
    <main>
      <form class="form-container" action="/thought/addThought" method="POST">
        <label class="input-label" for="topic">Topic</label>
        <input type="text" name="topic" placeholder="Topic" id="topic" required>
        <label class="input-label" for="bodyText">Thought</label>
        <textarea name="bodyText" placeholder="Your thoughts" id="bodyText" required></textarea>
        <!-- <section class="tag-container">
          <span>Tags</span>
          <span id="addButton"></span>
          <ul id="tagList">
          </ul>
        </section> -->
        <button class="submit-button" type="submit">Create</button>
      </form>
    </main>

    <script src="js/main.js"></script>
</body>
</html>