<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyThoughts</title>
    <script src="https://kit.fontawesome.com/23c2a211eb.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mythoughts.css" type="text/css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" /> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="background">
  <div class="navbar">
    <div class="flex-1">
    </div>
    <div class="flex-none">
      <a href="/myThoughts" class="btn btn-ghost normal-case text-xl">MyThoughts</a></li>
      <a href="/logout" class="btn btn-ghost normal-case text-xl">Log out</a></li>
    </div>
  </div>
  <main class="thoughts-container">
    <% if(thoughts.length <= 0) { %>
      <div class="first-post-container card w-96 bg-base-100 shadow-xl">
        <img class="thought-image" src="/img/filler-image.jpg" alt="" />
        <div class="description-container card-body">
          <h2 class="first-post-description card-title heading">Make your first post!</h2>
          <a href="/thought/createThought" class="btn create-button">Create Post</a>
        </div>
      </div>
        <% } else { %>
      <% thoughts.forEach( el => { %>
        <a class="thought-post-container" href="/thought/<%= el._id %>">
          <div class="inner-container card w-96 bg-base-100 shadow-xl">
            <% if(el.image) { %>
              <img class="thought-image" src="<%= el.image %>" alt="" />
            <% } else { %>
              <img class="thought-image" src="/img/filler-image.jpg" alt="" />
            <% } %>
            <div class="description-container card-body">
              <h2 class="card-title heading"><%= el.topic %></h2>
              <p class="text-content"><%= el.dateCreated %></p>
            </div>
          </div>
        </a>
      <% }) %>
    <% } %>
  </main>

  <% if(thoughts.length > 0) { %>
    <div class="create-button-container">
      <a href="/thought/createThought" class="btn create-button">Create</a>
    </div>
  <% } %>
  
</body>
</html>