<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyThoughts</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/mythoughts.css">
</head>
<body class="background">
  <div class="navbar bg-base-100">
    <div class="flex-1">
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/myThoughts">MyThoughts</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
  </div>
  <main class="container">
    <% thoughts.forEach( el => { %>
      <a class="inner-container" href="/thought/<%= el._id %>">
        <div class="image-container card w-96 bg-base-100 shadow-xl">
          <% if(el.image) { %>
            <img class="thought-image" src="<%= el.image %>" alt="" />
          <% } %>
          <div class="card-body">
            <h2 class="card-title heading"><%= el.topic %></h2>
            <p class="text-content"><%= el.dateCreated %></p>
          </div>
        </div>
      </a>
    <% }) %>
  </main>

  <div class="create-button-container">
    <a href="/thought/createThought" class="btn create-button">Create</a>
  </div>

  <script src="js/main.js"></script>
</body>
</html>