<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyThoughts</title>
    <link rel="stylesheet" href="css/mythoughts.css">
</head>
<body>
    <header>
        <h1>MyThoughts</h1>
        <a href="/logout">Logout</a>
    </header>
    <main class="container">
        <% thoughts.forEach( el => { %>
          <a class="inner-container" href="/thought/<%= el._id %>">
            <section class="thought-container">
                <span><%= el.dateCreated %></span>
                <h3><%= el.topic %></h3>
                <% if(el.image) { %>
                    <img src="<%= el.image %>" alt="picture">
                <% } %>
            </section>
          </a>
        <% }) %>
    </main>

    <a href="/thought/createThought">Create</a>

    <script src="js/main.js"></script>
</body>
</html>