<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css.css">
  <link href="/css/signup.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">Back</a>
    </div>
  </nav>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-center">
        <h1 class="text-5xl font-bold">Sign up</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
          <% } %>
          <form action="/signup" method="POST">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Username</span>
              </label>
              <input type="text" placeholder="username" name="userName" class="input input-bordered" />
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input type="text" placeholder="email" name="email" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input type="password" placeholder="password" name="password" class="input input-bordered" />
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn btn-accent submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>