<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyThoughts</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>MyThoughts</h1>
        <a href="/logout">Logout</a>
    </header>
    <main>
        <% thoughts.forEach( el => { %>
            <section>
                <span>Created <%= el.dateCreated %></span>
                <h3><%= el.topic %></h3>
            </section>
        <% }) %>
    </main>

    <a href="/thought/createThought">Create</a>

    <script src="js/main.js"></script>
</body>
</html>