<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyThoughts</title>
    <link rel="stylesheet" href="css/thought.css">
</head>
<body>
    <header>
        <h1>MyThoughts</h1>
        <a href="/logout">Logout</a>
    </header>
    <main class="one-thought-container">
      <span><%= thought.dateCreated %></span>
      <h2><%= thought.topic %></h2>
      <img src="<%= thought.image %>" alt="">
      <p><%= thought.bodyText %></p>
    </main>

    <script src="js/main.js"></script>
</body>
</html>