.hero-content {

  width: 50%;

}
 


.card.max-w-sm {

  max-width: 100%;

}

.card {

  background-color: #6f8ead;

}

.textarea {

  min-height: 250px;
  resize: none;

}

.background {

  background: url('/img/createthoughtbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  
}

.custom-file-upload {
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.file-input {

  display: inline-block;

}

input[type="file"] {

  display: none;

}

@media (max-width: 1300px) {

  .hero-content {

    width: 80%;

  }

}

@media (max-width: 750px) {

  .hero-content {

    width: 90%;

  }

  .topic-input.max-w-xs {

    max-width: 100%;

  }

}