/******************************************
/* LAYOUT
/*******************************************/

.form-container {

  width: 50%;
  margin: auto;

}

.form-column {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/******************************************
/* Typography
/*******************************************/

/* .btn.submit {

  background-color: #3D4451;

} */