/******************************************
/* Layout
/*******************************************/

.hero {
  position: relative;
}

.hero-content.lg\:flex-row-reverse {

  flex-direction: column;
  width: 100%;

}

.alert {
  margin-bottom: 20px;
}


/******************************************
/* Typography
/*******************************************/

.heading {

  color: white;

}

.card {

  background-color: #6f8ead;

}

.background {

  background: url('/img/homestarysky.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;

}