/******************************************
/* LAYOUT
/*******************************************/

.container {

  width: 70%;
  padding: 3rem 0 3rem 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10rem;

}

.thought-image {

  max-height: 370px;
  overflow: hidden;

}

.first-post-button-container {

  width: auto;
  margin: auto;
  text-align: center;

}

.place-items-center {

  border-radius: 10px;
  background-color: #6f8ead;
  color: white;

}

.create-button-container {

  position: fixed;
  bottom: 2rem;
  right: 2rem;

}

.create-button {

  font-size: 2rem;

}

.first-post-button {

  margin-top: 1rem;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.background {

  background: url('/img/mythoughtsbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  
}

.card-body {

  background-color: #6f8ead;

}

.page-heading {

  font-size: 3rem;
  color: white;

}