/******************************************
/* Layout
/*******************************************/

.hero {
  position: relative;
}

.hero-content.lg\:flex-row-reverse {

  flex-direction: column;
  width: 100%;

}

.alert {
  margin-bottom: 20px;
}

/******************************************
/* Typography
/*******************************************/

.heading {

  color: white;

}

.card {

  background-color: #6f8ead;

}

.background {

  background-color: #3d4f60;
  width: 100%;
  min-height: 100vh;

}