/******************************************
/* Layout
/*******************************************/

.hero {
  position: relative;
}

.hero-content.lg\:flex-row-reverse {

  flex-direction: column;
  width: 100%;

}

.alert {
  margin-bottom: 20px;
}

/******************************************
/* Typography
/*******************************************/

.heading {

  color: white;

}

.card {

  background-color: #6f8ead;

}

.background {

  background: url('/img/homestarysky.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;

}

.label-text {

  color: white;

}