/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hide {

  display: none;

}

h1, 
h2, 
h3,
p,
a,
button,
.date {
  font-size: 2rem !important;
  font-family: 'Anton', 'san-serif';
}

p,
a,
button {

  font-size: 2rem !important;

}

