/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

ul {
  padding: 0;
}

li {
  list-style: none;
}

.navbar {

  background-color: #6f8ead;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hide {

  display: none;

}

.input,
.textarea {

  background-color: #3c4e5f;
  color: white;

}

.label-text {

  color: #1f2937;

}

