.add-tag-btn {

  width: 20%;
  height: 100%;
  margin-top: 2rem;

}

.tag-list {

  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
  margin: 2rem 0;
  border-radius: 10px;
  background-color: #3c4e5f;;

}

.tag-item {

  display: flex;
  justify-content: flex-start;
  width: 20%;
  padding: 1rem;

}

.list-input {

  width: 90%;
  height: 100%;
  padding: .5rem;
  background-color: #3c4e5f;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px 0 0 10px;
  color: white;

}

.delete-tag-button {

  width: 30%;
  height: 100%;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  color: white;

}

@media (max-width: 750px) {

  .add-tag-btn {
    width: 45%;
  }

  .tag-item {

    width: 45%;

  }

}