/******************************************
/* LAYOUT
/*******************************************/

.hero-content {

  width: 50%;
  margin: auto;

}

.card.max-w-sm {

  max-width: 100%;

}

.card,
.thought-container.card {

  margin: 2rem auto 2rem auto;
  width: 50%;
  background-color: #6f8ead;

}

.textarea {

  min-height: 150px;
  resize: none;

}

.interaction-container {

  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 0 2rem;
  padding-top: 1rem;

}

.image-container {

  max-height: 500px;
  width: 50%;
  margin: 1rem auto auto auto;
  overflow: hidden;
  
}

.thought-image {

  object-fit: contain;
  width: 100%;
  border-radius: 10px;

}

.original-tag-list {

  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
  max-height: 70px;

}

.back-button-container {

  display: flex;
  justify-content: flex-end;

}

.delete-container,
.edit-button {

  width: 25%;
  display: inline-block;

}

.delete-button {

  width: 100%;

}

.description {

  margin: 1.5rem 0;

}

.background {

  background: url('/img/thoughtbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  
}

/******************************************
/* Typography
/*******************************************/

.edit-button {

  background-color: #6f8ead;

}

.custom-file-upload {
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload input {
  color: white;
}

.file-input {

  display: inline-block;

}

input[type="file"] {

  display: none;

}

/******************************************
/* Media Queries
/*******************************************/

@media (max-width: 1400px) {

  .thought-container.card {

    width: 85%;

  }

  .hero-content {

    width: 80%;

  }

}

@media (max-width: 750x) {

  
  .hero-content {

    width: 85%;
    min-height: 800px;

  }


}