/******************************************
/* LAYOUT
/*******************************************/

.hero-content {

  margin: auto;

}

.thought-container {

  width: 40%;
  margin: auto;

}

.inner-container {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.image-container {

  max-height: 600px;
  overflow: hidden;
  
}

.thought-image {

  width: 100%;
  object-fit: contain;

}

.button-container,
.edit-button {

  display: inline;

}

.edit-button,
.delete-button {

  width: 25%;

}

.description {

  margin: 2rem 0;

}