/******************************************
/* LAYOUT
/*******************************************/

.hero-content {

  margin: auto;

}

.thought-container {

  width: 40%;
  margin: 0 auto 2rem auto;

}

.inner-container,
.interaction-container {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.interaction-container {

  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  gap: 0 2rem;


}

.image-container {

  max-height: 800px;
  overflow: hidden;
  
}

.thought-image {

  width: 100%;

}

.back-button-container {

  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

}

.delete-container,
.edit-button {

  width: 25%;
  display: inline-block;

}

.delete-button {

  width: 100%;

}

.description {

  margin: 1.5rem 0;

}

/******************************************
/* Typography
/*******************************************/

.edit-button {

  background-color: white;

}
